@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&subset=cyrillic');

html {
    font-family: 'Open Sans', sans-serif;
}

.cont {
    border:1px solid #999999;
    padding: 10px;
	display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto auto;
    grid-template-areas:
        "m c c c"
        "m c c c";
	}

.side {
    border:1px solid #999999;
	grid-area: m;
	min-height: 600px;
    min-width: 280px;
    padding: 10px;
}

.content {
	grid-area: c;
	display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    border:1px solid #999999;

    
}

.content div {
    border:1px solid #999999;
    padding: 10px;
    min-height: 300px;
}
 a {
    padding-top: 0px;
    border: 1px dashed black;
    display: block;
    height: auto;
    min-height: 20px;
    width: auto;
    margin-bottom: 10px;
    text-decoration: none;
    cursor: move;
    color: black;
    padding: 5px;
    
    box-shadow: 3px 3px 3px rgba(0,0,0,0.3);
    //border-radius: 5px;
}

.form {
    border:1px solid #999999;
    margin:5px 0;
    padding: 10px;
    padding-right: 10px;


}

.side strong {
    font-size: 18pt;
}

textarea {
    width: 98%;
    //min-width: 275px;
}

.tasks {
    overflow: scroll;
    height: 500px;
}
